@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

body {
  @apply overflow-x-hidden;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Ensure the main content adjusts with the sidebar */
main {
  width: calc(100% - 16rem); /* Sidebar open */
}
/* Untuk perangkat mobile */
@media (max-width: 768px) {
  main {
    padding-top: 4rem; /* Menyesuaikan padding atas untuk memberi ruang bagi navbar */
    margin-left: 0; /* Pastikan margin kiri 0 pada perangkat mobile */
  }

  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50; /* Pastikan navbar berada di atas konten */
  }
}

/* Untuk perangkat tablet */
@media (min-width: 769px) and (max-width: 1028px) {
  main {
    padding-top: 4rem; /* Menyesuaikan padding atas untuk memberi ruang bagi navbar */
    margin-left: 0; /* Pastikan margin kiri 0 pada perangkat tablet */
  }
}


.sidebar-collapsed ~ main {
  width: calc(100% - 4rem); /* Sidebar collapsed */
}

@media (max-width: 768px) {
  main {
    width: 100%; /* Full width on mobile */
    margin-left: 0;
  }
}

/* Custom Scrollbar for WebKit Browsers */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Background of the scrollbar track */
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Darker color when hovering */
}

/* Firefox */
.sidebar {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* Thumb color and track color */
  overflow-x: hidden;
}

/* Ensure sidebar is scrollable */
.sidebar {
  overflow-y: auto; /* Allows vertical scrolling */
}

@media (max-width: 1024px) {
  .sidebar {
    display: none; /* Hide sidebar on tablet and mobile */
  }
}

.tooltip {
  z-index: 10;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
}

.tooltip-content {
  display: inline-block;
  text-align: left;
}

.tooltip-arrow {
  bottom: -8px;
}
